# Supabase
VITE_SUPABASE_URL=https://qtcytswpopatmhzcbxnn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF0Y3l0c3dwb3BhdG1oemNieG5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzOTc4MDgsImV4cCI6MjA5MDk3MzgwOH0.QOiKuxLdvgFlYZWPdxNYB-KO633gp3bGnIZcJpPaFm4

# Gemini AI (default/fallback key)
VITE_DEFAULT_GEMINI_KEY=AIzaSyCX-bkgHWIbks_fwbSL5QexwNuYIJUH1o0
